PORT=8080
BASE_URL=http://localhost:8080
ENCODE_LEN=6

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=shortener

# Redis
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=123
REDIS_DB=0
